.sacolaButton {
  padding: 8px;
  min-width: 0;
  border-radius: 1.5rem;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  svg {
    color: rgba(0, 0, 0, 0.54);
  }

  p {
    white-space: nowrap;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &.withProduct {
    background-color: #212121;
    gap: 1rem;
    padding-right: 1rem;

    svg {
      color: #FFFFFF;
    }
  }
}