.bottomNavContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 20;

  .bottomNav {
    background-color: #212121;
    width: 100%;
    z-index: 3;

    ul {
      list-style: none;
      flex: 1;
      display: flex;
      justify-content: space-evenly;
    }

    
    .bottomNavLink a,
    .bottomNavLink button {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
      color: #FFFFFF;
      opacity: 0.7;
      transition: 250ms;

      &:global(.active) {
        .bottomNavLink__label::after {
          content: '';
          width: 20px;
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: #F7BA00 solid 2px;
        }
      }

      &:hover,
      &:global(.active) {
        opacity: 1;
      }

      .bottomNavLink__label {
        font-size: 10px;
        line-height: 1em;
      }
    }
  }
}