.productContainer {
  border-radius: 8px;
  background: #FFF;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 20px;
  
  @media (min-width:600px){
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 0;
  }

  .productInfos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .productName {
      margin-bottom: .5rem;
    }

    .productDescription {
      overflow: hidden;
      text-overflow: ellipsis;
      // max-height: 54px;
      // white-space: nowrap;
      font-weight: 400;
    }

    .productBuy {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }

    .productPrices {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: .3rem;
      margin-top: 1rem;
      flex-wrap: wrap;
      
      @media (min-width:600px){
        align-items: center;
        flex-direction: row;
      }
    }

    .productPrice {
      color: #1EB247;
      font-size: 16px;
      font-weight: 700;
    }

    .productCashback {
      height: 22px;
      border-radius: 11px;
      border: 1px solid #9C9C9C;
      color: #9C9C9C;
      font-size: 12px;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      padding-right: .5rem
    }

    .productQuickAdd {
      margin-left: 1rem;
    }
  }

  .productPhoto {
    width: 130px;
    height: 130px;
    overflow: hidden;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
  }
}