  .productInfos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .productName {
      margin-bottom: .5rem;
    }

    .productDescription {
      overflow: hidden;
      text-overflow: ellipsis;
      // max-height: 54px;
      // white-space: nowrap;
      font-weight: 400;
    }

    .productBuy {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
    }

    .productPrices {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: .3rem;
      margin-top: 1rem;
      flex-wrap: wrap;

      @media (min-width:600px) {
        align-items: center;
        flex-direction: row;
      }
    }

    .productPrice {
      color: #1EB247;
      font-size: 16px;
      font-weight: 700;
    }

    .productCashback {
      height: 22px;
      border-radius: 11px;
      border: 1px solid #9C9C9C;
      color: #9C9C9C;
      font-size: 12px;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      padding-right: .5rem
    }

    .productQuickAdd {
      margin-left: 1rem;
    }
  }

  .productPhoto {
    width: 130px;
    height: 130px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 5px;

    img {
      max-width: unset;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }