* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #676767;
  line-height: 120%;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

#__next>* {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  font-weight: 700;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1000px;
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (max-width:600px){
    &.mobileFull {
      padding: 0;
    }
  }
}
