.header {
  position: sticky;
  top: 0;
  z-index: 20;

  :global(.container){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  
    .iconContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .mobile {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }
  }
}