.checkoutContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 400px;

  @media (max-width:800px){
    grid-template-columns: 1fr 300px;
  }

  @media (max-width:600px){
    grid-template-columns: 1fr;
  }
}

.checkoutInfos {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width:600px){
    grid-row-start: 2;
  }
}

.sacolaDescription {
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  align-self: flex-start;
}