.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  min-height: 1.8rem;

  &>:first-child {
    flex-grow: 1;
  }
}