.productContainer {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
  
  .productPhoto {
    border-radius: 8px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .productInfos {
    padding-top: 1rem;
    max-width: 500px;

    .productTitle {
      margin-bottom: 2rem;
    }

    .productPrices {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      flex-wrap: wrap;

      @media (min-width:600px) {
        align-items: center;
        flex-direction: row;
      }
    }

    .productPrice {
      color: #1EB247;
      font-size: 16px;
      font-weight: 700;
    }

    .productCashback {
      height: 22px;
      border-radius: 11px;
      border: 1px solid #9C9C9C;
      color: #9C9C9C;
      font-size: 12px;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      padding-right: .5rem
    }
  }

  .productActions {
    border-top: 1px lightgray solid;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}