.sacolaContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 2rem;
}

.sacolaLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  min-height: 1.8rem;

  .sacolaQtd {
    background-color: #ececec;
    padding: 0 4px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.8em;
  }

  &>:first-child {
    flex-grow: 1;
  }
}